# Laboratorio No. 4 - Deep Learning

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
df.head()

        Month  Sunspots
2815  1983-08      71.8
2816  1983-09      50.3
2817  1983-10      55.8
2818  1983-11      33.3
2819  1983-12      33.4